<div>
    <div class="form-field">
        <label>First Name:</label>
        <input 
        type="text" id="first_name" placeholder="First Name" 
        value="{{name['first_name']}}"
        >
    </div>
    
    <div class="form-field">
        <label>Middle Name:</label>
        <input 
        type="text" id="middle_name" placeholder="Middle Name" 
        value="{{name['middle_name']}}"
        >
    </div>
        
    <div class="form-field">
        <label>last_name:</label>
        <input 
        type="text" id="last_name" placeholder="Last Name" 
        value="{{name['last_name']}}"
        >
    </div>
    
    <div class="form-field">
        <label>full_name:</label>
        <input 
        type="text" id="full_name" placeholder="Full Name" 
        value="{{name['full_name']}}"
        >
    </div>
    
    <div class="form-field">
        <label>preferred_name:</label>
        <input 
        type="text" id="preferred_name" placeholder="Preferred Name" 
        value="{{name['preferred_name']}}"
        >
    </div>
</div>