:root {
    padding: 0;
    margin: 0;
    --font-primary: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif; 

    --blue: #00a6fb;
    --blueHover: #0582ca;
    --blueActive: #006494;

    --red: #e01010;
    --redHover: #c93f3f;
    --redActive: #c75353;
    
    --orange: #f4a261;
    --orangeHover: #e76f51;
    --orangeActive: #d8572a;

    --white: #f3f3f3;
    --whiteHover: #dadada;
    --whiteActive: #b6b6b6;

    --black: #1d1c1c;
    --blackHover: rgb(58, 57, 57);
    --blackActive: #585858;

}

body{
    font-family: var(--font-primary);
    box-sizing: border-box; 
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.button-circle{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-blue{
    background-color: var(--blue);
}
    .bg-blue:active{
        background-color: var(--blueActive);
    }
    .bg-blue:hover{
        background-color: var(--blueHover);
    }
.bg-red{
    background-color: var(--red);
}
    .bg-red:active{
        background-color: var(--redActive);
    }
    .bg-red:hover{
        background-color: var(--redHover);
    }
.bg-white{
    background-color: var(--white);
}
    .bg-white:active{
        background-color: var(--whiteActive);
    }
    .bg-white:hover{
        background-color: var(--whiteHover);
    }











.main{
    box-sizing: border-box; 
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 1rem;
    background-color: var(--blue);
    align-items: center;
    display:flex;
    flex-direction: column;

}

.flex{
    padding: 0;
    margin: 0;
    display: flex;
}
h1{
    box-sizing: border-box; /* means padding is consider inside the 100% width/height */
    margin: 0;
    height: 3rem;
    color: white;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 2rem;
}
h2{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--whiteActive);
    border-radius: 5px;
}

.profiles_container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1rem;
    background-color: white;
    width: 50%;
    max-height: 70%;
    overflow-y: auto;
}

.profile_card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "user edit delete";
    gap: 1rem;
    box-sizing: border-box;
    padding: 0.5rem;
    width: 100%;
    font-weight: bold;
    border-bottom: 1px gray solid;
    font-size: 1rem;
    justify-content: space-around;
}
    .grid-area-user{grid-area: "user";}
    .grid-area-edit{grid-area: "edit";}
    .grid-area-delete{grid-area: "delete";}

.button{
    border: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: white;
    font-size: 1.1rem;
    width: auto;
}
    .button:hover{
        border-radius: 5px;
        border: none;
        box-shadow: 5px 5px 10px 0px rgba(33,30,33,0.59);
        cursor: pointer;
    }

.blue-button{
    color: black;
}
    .blue-button:hover{
        color: white;
        background-color: var(--blue);
    }

.red-button{
    color: black;
}
    .red-button:hover{
        color: white;
        background-color: var(--red);
    }

.orange-button{
    color: black;
}
    .orange-button:hover{
        color: white;
        background-color: var(--orange);
    }

.bg-blue-2{
    background-color: var(--blueActive);
}

.profile-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left-panel{
    width: 25%;
    height: 100%;
    background-color: var(--blue);
}


.resumes-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.resume-button{
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: left;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--white);
    display: inline-flex;
    align-items: center;
}  
    .resume-button:hover{
        cursor: pointer;
        background-color: var(--blueHover);
    }
    .resume-button:active{
        cursor: pointer;
        background-color: var(--blueActive);
    }
.round-button{
    border: none;
    background-color: transparent;
    font-weight: bold;
    aspect-ratio: 1;
    border-radius: 50%;
    color: var(--white);
    width: 3rem;
    height: 3rem;
    align-items: center;
    display: flex;
    justify-content: center;
}
    .round-button:hover{
        cursor: pointer;
        background-color: var(--blueHover);
    }
    .round-button:active{
        cursor: pointer;
        background-color: var(--blueActive);
    }
    .button-icon{
        width: 1rem;
        padding:0.5rem;
    }

.resume-menu{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}











.right-panel{
    width: 75%;
    height: 100%;
}
.right-menu{
    width: 100%;
    height: 100%;
}
.profile-data-content{
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    padding: 1rem;
}

.profile-data-footer{
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    padding: 1rem;
}










/* 
===========================================================================
Personal Information
===========================================================================
 */
label{
    color: rgb(27, 27, 27);
    font-weight: 600;
    font-size: 1rem;
}

select,
input{
    border: none;
    outline: none;
    box-shadow: 0 1px 0 #000; /* Add border bottom no resizing */
    border-radius: 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    box-sizing: border-box;
    flex-grow: 1;
}
    select:hover,
    input:hover{
        background-color: var(--whiteHover);
        border-radius: 5rem;
        border: none;
        box-sizing: border-box;
        box-shadow: none;
    }
    select:focus,
    input:focus{
        background-color: var(--white);
        border-radius: 5rem;
        border: none;
        box-sizing: border-box;
        box-shadow: none;
    }
    select:active,
    input:active{
        background-color: var(--white);
        border-radius: 5rem;
        border: none;
        box-sizing: border-box;
        box-shadow: none;
    }

.form-field{
    width: 100%;
    padding: 1rem 10rem 1rem 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    box-sizing: border-box;
}
    .form-field label{
        width: 15rem;
        text-align: right;
    }
    .form-field input{
        flex-grow: 1;
    }


.links-container{
    display: flex;
    width: 100%;
    border-bottom: solid 1px black;
    justify-content: space-around;
    padding: 1rem 0;
}
.link-field{

}

button{
    width: 20rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--blue);
    color: white;
}
    button:hover{
    cursor: pointer;
    background-color: var(--blueHover);
    }
    button:active{
    cursor: pointer;
    background-color: var(--blueActive);
    }



/* ============================================================================ */
/* Personal information */
/* ============================================================================ */
.profile-data-content{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-data-content-nav{
    width: 90%;
    flex-shrink: 1;
    background-color: var(--blue);
    border-radius: 10px;
    color:white;
    ul{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        list-style-type: none;
    }
    button{
        width: fit-content;
        /* background-color: white; */
    }
}
.profile-data-content-content{
    width: 100%;
    height: -webkit-fill-available;
    flex-grow: 1;
}
.profile-data-footer{
    width: 100%;
    flex-shrink: 1;

}
.selected{
    background-color: white;
    color: var(--black);
}
.button-inner{
    width: 100%;
    background-color: var(--whiteHover);
    font-weight: bold;
    color: white;
}