
<section class="right-menu">
    <div class="profile-data-content">
        <nav class="profile-data-content-nav">
            <ul>
                <li><button  class="selectable" onclick="selectButton(this)" id="updateName" hx-get="/updateName" hx-target="#profile-data-content-content" hx-swap="innerHTML">Name</button></li>
                <li><button  class="selectable" onclick="selectButton(this)" id="updateLinks" hx-get="/updateLinks" hx-target="#profile-data-content-content" hx-swap="innerHTML">Links</button></li>
                <li><button  class="selectable" onclick="selectButton(this)" id="updateLanguages" hx-get="/updateLanguages" hx-target="#profile-data-content-content" hx-swap="innerHTML">Languages</button></li>
                <li><button  class="selectable" onclick="selectButton(this)" id="updateContact" hx-get="/updateContact" hx-target="#profile-data-content-content" hx-swap="innerHTML">Contact</button></li>
            </ul>
        </nav>
        
        <div class="profile-data-content-content" id="profile-data-content-content">
    
        </div>


        <div class="profile-data-footer">
            <button>Save Changes</button>
        </div>
    </div>
    <script>
    function selectButton(el) {
        document.querySelectorAll('.selectable').forEach(btn => {
            btn.classList.remove('selected');
        });
        el.classList.add('selected');
    }
    </script>
</section>
